.inputContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  input {
    border: 1px solid #cccccc;
    padding: 10px;
    outline: none;
    width: 70%;
    font-weight: 600;
    background-color: #f0fbff;
  }
  button {
    background-color: #3279c9;
    color: #fff;
    outline: none;
    border: none;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 1.8;
    cursor: pointer;
  }
}
