.hero {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 20px;
  .heroTitles {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    .opacityTitle {
      font-size: 140px;
      color: #fff;
      opacity: 0.1;
      letter-spacing: 5px;
      position: absolute;
      right: 30%;
      width: 46%;
    }

    .titlesContainer {
      width: 100%;
      margin-left: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heroTitle {
        font-size: 100px;
        font-weight: 600;
        display: block;

        .redPoint {
          content: "";
          background-color: #db4646;
          width: 10px;
          height: 10px;
          color: #db4646;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }

  .BubblesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .bubble {
    }
  }
}

@media screen and (max-device-width: 700px) {
  .heroTitles {
    .titlesContainer {
      margin-left: 0 !important;
      .heroTitle {
        font-size: 60px !important;
      }
    }
  }
}

@media screen and (max-device-width: 1000px) {
  .heroTitles {
    .opacityTitle {
      font-size: 80px!important;
    }
  }
}
