.hero {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 20px;
  .heroTitles {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    .opacityTitle {
      font-size: 140px;
      color: #fff;
      opacity: 0.1;
      letter-spacing: 5px;
      position: absolute;
      right: 30%;
      width: 46%;
    }

    .titlesContainer {
      width: 100%;
      margin-left: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heroTitle {
        font-size: 100px;
        font-weight: 600;
        display: block;

        .redPoint {
          content: "";
          background-color: #db4646;
          width: 10px;
          height: 10px;
          color: #db4646;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }

  .BubblesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .bubble:nth-of-type(1) {
      width: 20px;
      height: 20px;
      border: 6px solid #397085;
      border-radius: 40%;
      position: absolute;
      top: 15%;
      right: 61%;
    }
    .bubble:nth-of-type(2) {
      width: 15px;
      height: 15px;
      border: 5px solid #397085;
      border-radius: 40%;
      position: absolute;
      top: 0;
      left: 23%;
    }
    .bubble:nth-of-type(3) {
      width: 10px;
      height: 10px;
      border: 5px solid #397085;
      border-radius: 40%;
      position: absolute;
      top: 25%;
      right: 30%;
    }
    .bubble:nth-of-type(4) {
      width: 25px;
      height: 25px;
      border: 5px solid #397085;
      border-radius: 40%;
      position: absolute;
      top: 60%;
      right: 70%;
    }
    .bubble:nth-of-type(5) {
      width: 30px;
      height: 30px;
      border: 8px solid #397085;
      border-radius: 40%;
      position: absolute;
      top: 75%;
      right: 20%;
    }
  }
}

@media screen and (max-device-width: 700px) {
  .heroTitles {
    .titlesContainer {
      margin-left: 0 !important;
      .heroTitle {
        font-size: 60px !important;
      }
    }
  }
}

@media screen and (max-device-width: 1000px) {
  .heroTitles {
    .opacityTitle {
      font-size: 80px !important;
    }
  }
}
